<div id="credits">
  <button type="button" class="close js-close-credits"><span>Close</span></button>
  <div class="content">
    <img src="./images/CastleStory_Logo.png" />
    <h3>Version 1.0.0</h3>
    <img class="new-team" src="./images/SauropodLogo.png" />
    <h2>Art Team</h2>
    <div class="credit">
      <span>Art Direction</span>
      <span>Germain Couet</span>
    </div>
    <div class="credit">
      <span>Character Animation</span>
      <span>Marie-Pier Cadorette</span>
      <span>ReEnhanced Community work</span>
    </div>
    <div class="partners">
      <h2>In Partnership</h2>
      <h3>With</h3>
      <div class="partner-list">
        <img src="./images/kickstarter.png" />
        <img src="./images/IQ_Logo_en_responsive.png" />
        <img src="./images/logo guilde.png" />
        <img src="./images/logo_cr-fmc.png" />
      </div>
    </div>
  </div>
</div>