<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h1>SIGN IN</h1>
    <p>AND LOG IN TO YOUR ACCOUNT</p>
    <div class="signin-form">
      <label>USERNAME*</label>
      <input class="username" type="text" name="username" required>
      <label>PASSWORD*</label>
      <input class="password" type="password" name="password" required>
      <div class="remember-me-section" hidden>
        <input class="remember-me" type="checkbox" name="remember-me" value="">
        <label>REMEMBER ME</label>
      </div>
      <input class="input-signin js-signin" type="submit" value="Sign In">
      <label class="error">This is an error</label>
      <label class="required">* Required</label>
    </div>
    <a class="signup js-open-ext-link" href="http://www.castlestory.net/en/account/">Don't have an account on the website? Click here to create one.</a>
  </div>
</div>