/********************************************
 *
 *  CastleStory Launcher
 *
 *********************************************/

/**********************
 *  Imports
 **********************/

@import "common/cs.fonts.less";
@import "utils/prefixer.less";

@import "credits.less";

/**********************
 *  Gemeral
 **********************/

* {
  box-sizing: border-box;
} // *

.fr, .en {
  display:none;
}

body {
  .proxima();

  background: url('../images/background.png') no-repeat;
  background-size:cover;
  margin: 0;

  color: #0a0f14;
} // body

h1 h2 h3 {
  .camaro();
  // .proxima();
}

.video-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('../images/pattern.png');
  } // &:before

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 178px;
    background: url('../images/gradiant-bottom.png');
  } // &:after

  video {
    width: 100%;
    height: 739px;
    object-fit: cover;
  } // video
} // .video-cover

#fullcontent {
  // width: 1280px;
  // height: 800px;
  margin: 0 auto;
} // #fullcontent

.gwrap {
  width: 1200px;
  margin: auto;
} // .gwrap

/**********************
 *  Header
 **********************/

header {
  height: 62px;
  position: relative;
  background-color: #39abd0;
  box-shadow: 0px 6px 0px rgba(0,0,0,.25);
  margin-top: 36px;
  margin-bottom: 30px;

  a { -webkit-app-region: no-drag; }

  h1 {
    display: block;
    width: 305px;
    height: 90px;
    background: url('../images/logo.png');
    position: absolute;
    top: -20px;
    left: 47px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0;
  } // h1

  .social-nav-holder {
    width:100%;
    position: absolute;
    top: -36px;
    height: 36px;

    .social-nav {
      div { -webkit-app-region: no-drag; }
      img { -webkit-app-region: no-drag; }
      display: -webkit-box;
      display: -ms-flexbox;
      position:absolute;
      top:11px;
      right:1px;
      /* display: flex; */
      /* background: white; */

      .minimize-wrapper {
        width: 41px;
        height: 28px;
        margin: 0 0 0 18px;
        position: relative;
        top: -10px;
        transition: background-color 0.5s ease;
        background-color: transparent;
        &:hover {
          cursor: pointer;
          background-color: #39abd0;
          .minimize-img {
            content: url('../images/minimize_selected.png');
          }
        }
        .minimize-img {
          content: url('../images/minimize.png');
          position: relative;
          top: 3px;
          left: 16px;
        }
      }

      .close-wrapper {
        width: 41px;
        height: 28px;
        margin: 0 0 0 1px;
        position: relative;
        top: -10px;
        transition: background-color 0.5s ease;
        background-color: transparent;
        &:hover {
          background-color: #ffc50a;
          cursor: pointer;
          .close-img {
            content: url('../images/close_selected.png');
          }
        }
        .close-img {
          content: url('../images/close.png');
          position: relative;
          top: 8px;
          left: 15px;
        }
      }

      a, span {
        transition: color 0.2s ease;
        font-size: 12px;
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        vertical-align: middle;
        margin: 0 5px;
        text-transform: uppercase;

        &:first-of-type {
          margin-left: 0;
        } // &:first-of-type

        &:last-of-type {
          margin-right: 0;
        } // &:last-of-type
      } // a
      a:hover {
        transition: color 0.2s ease;
        color: black;
        cursor: pointer
      } // a:hover
    } // .social-nav
  } // .social-nav-holder

  .bottom-nav {
    display:none; // disabled for now
    position: absolute;
    right: 42px;
    bottom: -30px;

    a, span {
      font-size: 12px;
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      vertical-align: middle;
      margin: 0 5px;
      text-transform: uppercase;

      &:first-of-type {
        margin-left: 0;
      } // &:first-of-type

      &:last-of-type {
        margin-right: 0;
      } // &:last-of-type
    } // a
  } // .bottom-nav

  .right {
    float: right;
    margin-right: 42px;

    nav {
      display: inline-block;
      vertical-align: middle;
      margin: 23px 0 0 0;

      a {
        transition: color 0.2s ease;
        font-size: 18px;
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        vertical-align: middle;
        margin: 0 10px;
        text-transform: uppercase;

        &:first-of-type {
          margin-left: 0;
        } // &:first-of-type

        &:last-of-type {
          // margin-right: 0;
        } // &:last-of-type
      } // a

      a:hover {
        transition: color 0.2s ease;
        color: black;
      } // a:hover
    } // nav

    .profile {
      // display: inline-block; // Disabled for now
      display: none;
      vertical-align: middle;
      width: 228px;
      height: 56px;
      background: #ffc50a;

      p {
        font-size: 10px;
        color: #000;
        display: inline-block;
        width: 181px;
        text-transform: uppercase;
        padding: 0 10px;
        font-weight: 500;
        vertical-align: middle;

        span {
          display: block;
          font-weight: 700;
          font-size: 18px;
        } // span
      } // p

      img {
        display: inline-block;
        vertical-align: middle;
      } // img
    } // .profile
  } // .right
} // header

// Color variables (appears count calculates by raw css)
@color0: #ffc50a; // Appears 2 times

header {
  .right {
    .signin {
      background: @color0;
      // display: inline-block; // We remove this for now
      display: none!important;
      height: 56px;
      vertical-align: middle;
      width: 228px;
      h2 {
        font-size: 21px;
        margin: 16px auto auto auto;
        text-align: center;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  input[type="submit"] {
    background: white;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
  }
  input[type="password"] {
    &:focus {
      background: white;
    }
  }
  input[type="text"] {
    &:focus {
      background: white;
    }
  }
  .input-signin {
    margin-top: 34px;
  }
  input[type="checkbox"]+label {
    content: '';
  }
  label.required {
    font-size: 11px;
    font-weight: normal;
    margin: 9px 0px 0px 0px;
  }
  a.signup {
    font-size: 11px;
    margin-top: 14px;
    text-align: center;
  }
  .remember-me-section {
    label {
      margin: 5px 0 5px 30px;
    }
  }
}
.modal-content {
  background-color: @color0;
  border: 6px solid black;
  display: flex;
  flex-direction: column;
  height: 64%;
  margin: 15% auto;
  padding: 20px;
  width: 35%;
  label {
    margin: 7px 0 7px 0;
  }
  .signin-form {
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin: 0;
  }
  .error {
    color: #990004;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    margin: 4px 0 0 0;
    visibility: hidden;
  }
  p {
    margin: 0px 0 9px 0;
  }
  input {
    background: #FDE595;
    border: solid 4px black;
    font-size: 14px;
    font-weight: 300;
    height: 45px;
    padding: 4px 11px 4px 10px;
  }
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  &:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
}

/**********************
 *  Footer
 **********************/

footer {
  height: 48px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 25px;
  box-sizing: border-box;
  padding-left: 47px;
  padding-right: 42px;
  text-align: center;

  .fleft {
    float: left;
    text-transform: uppercase;
    width: 350px;
    text-align: left;
  } // .fleft

  .fright {
    float: right;
    width: 350px;
    text-align: right;
  } // .fright

  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    color: #39abd0;
  } // p

  .logo {
    // position: absolute;
    display: inline-block;
    width: 220px;
    height: 38px;
    background: url('../images/footer-logo.png');
    text-indent: -9999px;
    overflow: hidden;
    margin-top: -67px;
    margin-left:-330px;
    // top: 19px;
    // right: 40px;
  } // .logo
} // footer

/**********************
 *  Main content
 **********************/

  main {
    height: 568px;

    .left-col {
      float: left;
      margin-left: 47px;
      width: 356px;
      position: relative;

      div.box {
        background: #ffc50a;
        border: 6px solid #000;
        padding: 14px 16px 16px 16px;
        position: relative;
        margin-bottom: 6px;
        font-weight: 100;

        .latest-update {
          font-weight: 600;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 10px;
          display: block;
          background: #875521;
        } // &:after

        h2 {
          margin: 0 0 10px;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 800;

          strong {
            display: block;
            font-size: 24px;
            font-weight:700;
          } // strong
        } // h2

        label {
          display: inline-block;
          width: 123px;
          font-size: 16px;
        } // label

        &.video {

          .video-wrapper {
            box-sizing: border-box;
            width: 368px;
            height: 212px;
            border: 6px solid #000;
            margin-left: -28px;
            background:url('../images/missing-video.png') center center no-repeat #bbb;

            iframe {

            }
          } // .video-wrapper

          a {
            display: block;
            height: 124px;
            box-sizing: border-box;
            margin: 0 -16px -16px;
            text-decoration: none;
            color: #000;
            padding: 23px 16px;
            font-size: 14px;
            position: relative;
            transition: color 0.2s ease;
            font-weight:400;

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 6px;
              display: block;
              background: #875521;
            } // &:after

            .read-more {
              width: 100%;
              height: 30px;
              &:hover {
                color: white;
                transition: color 0.2s ease;
                .arrow {
                  &:after {
                    transition: background 0.2s ease;
                    background: url(../images/play-arrow-white.png) no-repeat;
                    position: relative;
                    top: 2px;
                    left: -1px;
                    height: 25px;
                  }
                }
              }
              > span {
                font-size: 16px;
                text-transform: uppercase;
                position: absolute;
                right: 19px;
                bottom: 20px;
                font-weight: 600;

                &:after {
                  content: '';
                  width: 16px;
                  height: 22px;
                  display: inline-block;
                  background: url(../images/play-arrow.png) no-repeat;
                  vertical-align: middle;
                  margin-left: 20px;
                  background-size: 15px;
                } // &.arrow
              }
            } // .read-more
          } // a
        } // &.video

        &.link {
          padding: 0;
          display:none;

          a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: #000;
            padding: 16px 16px 23px;
            font-weight: 400;
            font-size: 14px;

            &:hover {
              &:after {
                transition: background 0.2s ease;
                background: url(../images/play-arrow-white.png) no-repeat;
              }
            }

            span:not(.title) {
              display: inline-block;
              width: 252px;
              vertical-align: middle;
              margin-right: 40px;
            } // span

            span.title {
              margin-bottom: 16px;
              display: block;
              text-transform: uppercase;
              font-weight:300;
              font-size:16px;
            } // span.title

            &:after {
              content: '';
              width: 16px;
              height: 24px;
              display: inline-block;
              background: url(../images/play-arrow.png);
              vertical-align: middle;
            } // &:after
          } // a
        }
      } // div.box
    } // .left-col

    .right-col {
      float: right;
      width: 354px;
      height: 562px;
      position: relative;
      margin-right: 42px;

      .bottom {
        position: absolute;
        right: 0;
        bottom: 18px;
      }

      button.box {
        background: #fff;
        border: 6px solid #000;
        position: relative;
        text-align: center;
        height: 96px;
        box-sizing: border-box;
        width: 100%;
        font-size: 36px;
        font-weight: 800;
        text-transform: uppercase;
        box-sizing: border-box;
        padding-bottom: 14px;

        &:hover {
          cursor: pointer;
          background-color: #e2e2e2;
        }

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 10px;
          display: block;
          background: #5a7882;
        } // &:before

        &:after {
          content: '';
          width: 16px;
          height: 24px;
          display: inline-block;
          background: url('../images/play-arrow.png');
          margin-left: 20px;
          outline: none;
        } // &:after
      } // button.box

      div.box {
        background: #ffc50a;
        border: 6px solid #000;
        padding: 16px;
        position: relative;
        margin-bottom: 6px;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 10px;
          display: block;
          background: #875521;
        } // &:after

        h2 {
          margin: 0 0 18px;
          text-transform: uppercase;
          font-weight:700;
          font-size:24px;
        } // h2

        label {
          display: inline-block;
          width: 123px;
          font-size: 16px;
          font-weight:300;
          line-height:26px;
        } // label

        .select-wrapper {
          position: relative;
          display: inline-block;

          &:not(:last-of-type) {
            margin-bottom: 15px;
          } // &:not(:last-of-type)

          &:last-of-type {
            margin-bottom: 5px;
          } // &:last-of-type

          &:after {
            .rotate(90deg);

            content: '';
            display: block;
            width: 8px;
            height: 14px;
            background: url('../images/arrow.png');
            background-size: cover;
            position: absolute;
            top: 11px;
            right: 17px;
            pointer-events: none;
          } // &:after
        } // .select-wrapper

        .monitor-selector {
          display:none;
        }

        .checkbox-fullscreen {
          display: flex;
          width: 100%;
          margin: 8px 0 5px 0;
          &:hover {
            cursor: pointer;
          }
          #checkbox-border {
            border: black solid 4px;
            width: 29px;
            height: 29px;
            background-color: white;
            .custom-checkbox {

              &.checked {
                background: url('../images/checkbox-on.png') no-repeat;
                background-size: cover;
                width: 80%;
                height: 80%;
                position: relative;
                top: 2px;
                left: 2px;
              }
            }// .custom-checkbox
          } // .checkbox-border
          label {
            width: 70%;
            margin: 0 78px 0 0;
            width: 202px;
            padding: 4px 0 0 0;
          }// label
        } // .checkbox-fullscreen

        select {
          display: inline-block;
          border: 4px solid #000;
          height: 33px;
          width: 182px;
          line-height: 26px;
          background: #fff;
          font-size: 16px;
          font-weight: 500;
          text-decoration: none;
          color: #000;
          padding-left: 12px;
          position: relative;
          border-radius: 0px;
          -webkit-appearance: none;
          option {
            font-weight: 600;
          }
        } // select
      } // div.box

      div.box.alert {
        padding: 0;

        a {
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: #000;
          padding: 12px 16px 23px;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 13px;

          span {
            display: inline-block;
            width: 230px;
            vertical-align: middle;
            margin-left: 16px;
          } // span

          &:before {
            content: '';
            display: inline-block;
            width: 42px;
            height: 37px;
            background: url('../images/alert-icon.png');
            vertical-align: middle;
          } // &:before

          &:after {
            content: '';
            width: 16px;
            height: 24px;
            display: inline-block;
            background: url(../images/play-arrow.png);
            vertical-align: middle;
          } // &:after
        } // a
      } // div.box.alert

      div.box.twitch {
        padding: 0;
        background-color: #6441a5;

        &:after {
          background: #2b1580;
        } // &:after

        a {
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: #fff;
          padding: 12px 16px 23px;
          text-transform: uppercase;
          // font-weight: 700;
          font-size: 13px;

          span {
            display: inline-block;
            width: 230px;
            vertical-align: middle;
            margin-left: 16px;
          } // span

          strong {
            display: block;
            font-size: 18px;
          }

          &:before {
            content: '';
            display: inline-block;
            width: 42px;
            height: 37px;
            background: url('../images/twitch-icon.png');
            vertical-align: middle;
          } // &:before

          &:after {
            content: '';
            width: 16px;
            height: 24px;
            display: inline-block;
            background: url(../images/play-arrow.png);
            vertical-align: middle;
          } // &:after
        } // a
      } // div.box.twitch
    } // .right-col

    .news {
      height: 344px;
      padding-top: 20px;
      // box-shadow: -20px 5px 15px #2482a3 inset;

      .video {
        float: left;
        border: 4px solid #24819f;

        iframe {
          display: block;
        } // iframe
      }

      .item {
        float: left;
        border: 4px solid #24819f;
        width: 304px;
        height: 306px;
        margin-left: 22px;

        a {
          .transition();

          color: #000;
          text-decoration: none;
          background: #2e9cbf;
          display: block;
          width: 296px;
          height: 298px;

          &:hover {
            background: #fff;
          } // &:hover
        } // a

        span {
          display: block;
          margin-left: 10px;
          margin-right: 10px;
          text-transform: uppercase;

          &.date {
            font-size: 12px;
            margin-top: 5px;
          } // &.date

          &.title {
            font-size: 17px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          } // &.title

          &.text {
            font-size: 13px;
            text-transform: none;
          } // &.text

          &.more {
            font-size: 10px;
            height: 14px;
            line-height: 14px;
            display: inline-block;
            position: relative;
            margin-top: 8px;

            &:after {
              content: '';
              display: block;
              width: 7px;
              height: 12px;
              background: url('../images/arrow.png');
              background-size: cover;
              position: absolute;
              top: 0px;
              right: -17px;
              pointer-events: none;
            } // &:after
          } // &.more
        } // span

        img {
          display: block;
          width: 297px;
          height: 168px;
        } // img
      } // .item
    } // .news
  } // main


// .issue {
//   width: 360px;
//   height: 80px;
//   border: 1px dotted #999;
//   float: left;
//   box-sizing:inherit;
//   padding: 25px;
//   border: 1px solid #333;
//   background-color: #ccc;
//   margin-top: 10px;
//   display: block;
//   color: inherit;
// }


// .play {
//   clear: both;
//   width: 100%;
//   height: 77px;
//   box-sizing:inherit;
//   background-color: #fec50a;
//   border: 1px solid #fea000;
//   border-radius: 6px;
//   cursor: pointer;
// }
