/********************************************
 *
 *  CastleStory Launcher
 *
 *********************************************/
/**********************
 *  Imports
 **********************/
/**********************
 *  CastleStory Fonts
 **********************/
@font-face {
  font-family: 'Proxima-Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Bold.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Semibold.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Light.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Extrabold.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Canaro';
  src: url('../fonts/canaro-light/canaro-light.eot');
  src: url('../fonts/canaro-light/canaro-light.eot?#iefix') format('embedded-opentype'), url('../fonts/canaro-light/canaro-light.woff') format('woff'), url('../fonts/canaro-light/canaro-light.ttf') format('truetype'), url('../fonts/canaro-light/canaro-light.svg#canarolight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Canaro';
  src: url('../fonts/canaro-book/canaro-book.eot');
  src: url('../fonts/canaro-book/canaro-book.eot?#iefix') format('embedded-opentype'), url('../fonts/canaro-book/canaro-book.woff') format('woff'), url('../fonts/canaro-book/canaro-book.ttf') format('truetype'), url('../fonts/canaro-book/canaro-book.svg#canarobook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Canaro';
  src: url('../fonts/canaro-medium/canaro-medium.eot');
  src: url('../fonts/canaro-medium/canaro-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/canaro-medium/canaro-medium.woff') format('woff'), url('../fonts/canaro-medium/canaro-medium.ttf') format('truetype'), url('../fonts/canaro-medium/canaro-medium.svg#canaromedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Canaro';
  src: url('../fonts/canaro-bold/canaro-bold.eot');
  src: url('../fonts/canaro-bold/canaro-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/canaro-bold/canaro-bold.woff') format('woff'), url('../fonts/canaro-bold/canaro-bold.ttf') format('truetype'), url('../fonts/canaro-bold/canaro-bold.svg#canarobold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Canaro';
  src: url('../fonts/canaro-black/canaro-black.eot');
  src: url('../fonts/canaro-black/canaro-black.eot?#iefix') format('embedded-opentype'), url('../fonts/canaro-black/canaro-black.woff') format('woff'), url('../fonts/canaro-black/canaro-black.ttf') format('truetype'), url('../fonts/canaro-black/canaro-black.svg#canaroblack') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'icon';
  src: url('../fonts/icomoon/icomoon.eot');
  src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff') format('woff'), url('../fonts/icomoon/icomoon.ttf') format('truetype'), url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

#credits {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #38aacf;
  z-index: 100;
  top: 0px;
  left: 0px;
  display: none;
}

#credits h1,
#credits h2,
#credits h3 {
  color: #fff;
  text-transform: uppercase;
}

#credits .close {
  position: absolute;
  z-index: 110;
  top: 0px;
  right: 0px;
  color: #000;
  margin: 0px;
  border-radius: 0px;
  border: 6px solid #000;
  background-color: #fec50a;
  padding: 7px 14px 5px;
  text-transform: uppercase;
  text-decoration: none;
}

#credits .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 120px 0px 220px;
  top: 0px;
}

#credits .content h2 {
  margin-top: 45px;
}

#credits .content>img {
  margin: 20px 0px 10px;
}

#credits .content .new-company {
  margin-top: 80px;
}

#credits .content .new-team {
  margin-top: 40px;
  margin-bottom: 20px;
}

#credits .content .new-line {
  margin-top: 20px;
}

#credits .content .credit {
  font-weight: 300;
  padding: 2px 0px;
}

#credits .content .credit span {
  width: 600px;
  display: inline-block;
  padding: 0px 5px;
}

#credits .content .credit span:first-child {
  text-align: right;
}

#credits .content .partners {
  width: 100%;
  background-color: #ffc50a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  margin: 80px 0px;
}

#credits .content .partners h1,
#credits .content .partners h2,
#credits .content .partners h3 {
  color: #000;
  margin: 0px;
}

#credits .content .partners h2 {
  font-size: 24px;
  font-weight: 700;
}

#credits .content .partners h3 {
  font-size: 24px;
  font-weight: 300;
}

#credits .content .partners .partner-list {
  display: flex;
  justify-content: space-around;
  width: 900px;
  align-items: center;
}

#credits .content .partners .partner-list img {
  flex: 0 0 auto;
}

/**********************
 *  Gemeral
 **********************/
* {
  box-sizing: border-box;
}

.fr,
.en {
  display: none;
}

body {
  font-family: 'Proxima-Nova';
  background: url('../images/background.png') no-repeat;
  background-size: cover;
  margin: 0;
  color: #0a0f14;
}

h1 h2 h3 {
  font-family: 'Canaro';
}

.video-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video-cover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url('../images/pattern.png');
}

.video-cover:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 178px;
  background: url('../images/gradiant-bottom.png');
}

.video-cover video {
  width: 100%;
  height: 739px;
  object-fit: cover;
}

#fullcontent {
  margin: 0 auto;
}

.gwrap {
  width: 1200px;
  margin: auto;
}

/**********************
 *  Header
 **********************/
header {
  height: 62px;
  position: relative;
  background-color: #39abd0;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.25);
  margin-top: 36px;
  margin-bottom: 30px;
}

header a {
  -webkit-app-region: no-drag;
}

header h1 {
  display: block;
  width: 305px;
  height: 90px;
  background: url('../images/logo.png');
  position: absolute;
  top: -20px;
  left: 47px;
  text-indent: -9999px;
  overflow: hidden;
  margin: 0;
}

header .social-nav-holder {
  width: 100%;
  position: absolute;
  top: -36px;
  height: 36px;
}

header .social-nav-holder .social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  position: absolute;
  top: 11px;
  right: 1px;
  /* display: flex; */
  /* background: white; */
}

header .social-nav-holder .social-nav div {
  -webkit-app-region: no-drag;
}

header .social-nav-holder .social-nav img {
  -webkit-app-region: no-drag;
}

header .social-nav-holder .social-nav .minimize-wrapper {
  width: 41px;
  height: 28px;
  margin: 0 0 0 18px;
  position: relative;
  top: -10px;
  transition: background-color 0.5s ease;
  background-color: transparent;
}

header .social-nav-holder .social-nav .minimize-wrapper:hover {
  cursor: pointer;
  background-color: #39abd0;
}

header .social-nav-holder .social-nav .minimize-wrapper:hover .minimize-img {
  content: url('../images/minimize_selected.png');
}

header .social-nav-holder .social-nav .minimize-wrapper .minimize-img {
  content: url('../images/minimize.png');
  position: relative;
  top: 3px;
  left: 16px;
}

header .social-nav-holder .social-nav .close-wrapper {
  width: 41px;
  height: 28px;
  margin: 0 0 0 1px;
  position: relative;
  top: -10px;
  transition: background-color 0.5s ease;
  background-color: transparent;
}

header .social-nav-holder .social-nav .close-wrapper:hover {
  background-color: #ffc50a;
  cursor: pointer;
}

header .social-nav-holder .social-nav .close-wrapper:hover .close-img {
  content: url('../images/close_selected.png');
}

header .social-nav-holder .social-nav .close-wrapper .close-img {
  content: url('../images/close.png');
  position: relative;
  top: 8px;
  left: 15px;
}

header .social-nav-holder .social-nav a,
header .social-nav-holder .social-nav span {
  transition: color 0.2s ease;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
  margin: 0 5px;
  text-transform: uppercase;
}

header .social-nav-holder .social-nav a:first-of-type,
header .social-nav-holder .social-nav span:first-of-type {
  margin-left: 0;
}

header .social-nav-holder .social-nav a:last-of-type,
header .social-nav-holder .social-nav span:last-of-type {
  margin-right: 0;
}

header .social-nav-holder .social-nav a:hover {
  transition: color 0.2s ease;
  color: black;
  cursor: pointer;
}

header .bottom-nav {
  display: none;
  position: absolute;
  right: 42px;
  bottom: -30px;
}

header .bottom-nav a,
header .bottom-nav span {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
  margin: 0 5px;
  text-transform: uppercase;
}

header .bottom-nav a:first-of-type,
header .bottom-nav span:first-of-type {
  margin-left: 0;
}

header .bottom-nav a:last-of-type,
header .bottom-nav span:last-of-type {
  margin-right: 0;
}

header .right {
  float: right;
  margin-right: 42px;
}

header .right nav {
  display: inline-block;
  vertical-align: middle;
  margin: 23px 0 0 0;
}

header .right nav a {
  transition: color 0.2s ease;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
  margin: 0 10px;
  text-transform: uppercase;
}

header .right nav a:first-of-type {
  margin-left: 0;
}

header .right nav a:hover {
  transition: color 0.2s ease;
  color: black;
}

header .right .profile {
  display: none;
  vertical-align: middle;
  width: 228px;
  height: 56px;
  background: #ffc50a;
}

header .right .profile p {
  font-size: 10px;
  color: #000;
  display: inline-block;
  width: 181px;
  text-transform: uppercase;
  padding: 0 10px;
  font-weight: 500;
  vertical-align: middle;
}

header .right .profile p span {
  display: block;
  font-weight: 700;
  font-size: 18px;
}

header .right .profile img {
  display: inline-block;
  vertical-align: middle;
}

header .right .signin {
  background: #ffc50a;
  display: none !important;
  height: 56px;
  vertical-align: middle;
  width: 228px;
}

header .right .signin h2 {
  font-size: 21px;
  margin: 16px auto auto auto;
  text-align: center;
}

header .right .signin:hover {
  cursor: pointer;
}

.modal {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal input[type="submit"] {
  background: white;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.modal input[type="password"]:focus {
  background: white;
}

.modal input[type="text"]:focus {
  background: white;
}

.modal .input-signin {
  margin-top: 34px;
}

.modal input[type="checkbox"]+label {
  content: '';
}

.modal label.required {
  font-size: 11px;
  font-weight: normal;
  margin: 9px 0px 0px 0px;
}

.modal a.signup {
  font-size: 11px;
  margin-top: 14px;
  text-align: center;
}

.modal .remember-me-section label {
  margin: 5px 0 5px 30px;
}

.modal-content {
  background-color: #ffc50a;
  border: 6px solid black;
  display: flex;
  flex-direction: column;
  height: 64%;
  margin: 15% auto;
  padding: 20px;
  width: 35%;
}

.modal-content label {
  margin: 7px 0 7px 0;
}

.modal-content .signin-form {
  display: flex;
  flex-direction: column;
}

.modal-content h1 {
  margin: 0;
}

.modal-content .error {
  color: #990004;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  margin: 4px 0 0 0;
  visibility: hidden;
}

.modal-content p {
  margin: 0px 0 9px 0;
}

.modal-content input {
  background: #FDE595;
  border: solid 4px black;
  font-size: 14px;
  font-weight: 300;
  height: 45px;
  padding: 4px 11px 4px 10px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.close:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/**********************
 *  Footer
 **********************/
footer {
  height: 48px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 25px;
  box-sizing: border-box;
  padding-left: 47px;
  padding-right: 42px;
  text-align: center;
}

footer .fleft {
  float: left;
  text-transform: uppercase;
  width: 350px;
  text-align: left;
}

footer .fright {
  float: right;
  width: 350px;
  text-align: right;
}

footer p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  color: #39abd0;
}

footer .logo {
  display: inline-block;
  width: 220px;
  height: 38px;
  background: url('../images/footer-logo.png');
  text-indent: -9999px;
  overflow: hidden;
  margin-top: -67px;
  margin-left: -330px;
}

/**********************
 *  Main content
 **********************/
main {
  height: 568px;
}

main .left-col {
  float: left;
  margin-left: 47px;
  width: 356px;
  position: relative;
}

main .left-col div.box {
  background: #ffc50a;
  border: 6px solid #000;
  padding: 14px 16px 16px 16px;
  position: relative;
  margin-bottom: 6px;
  font-weight: 100;
}

main .left-col div.box .latest-update {
  font-weight: 600;
}

main .left-col div.box:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  display: block;
  background: #875521;
}

main .left-col div.box h2 {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
}

main .left-col div.box h2 strong {
  display: block;
  font-size: 24px;
  font-weight: 700;
}

main .left-col div.box label {
  display: inline-block;
  width: 123px;
  font-size: 16px;
}

main .left-col div.box.video .video-wrapper {
  box-sizing: border-box;
  width: 368px;
  height: 212px;
  border: 6px solid #000;
  margin-left: -28px;
  background: url('../images/placeholder.png') center center no-repeat #bbb;
}

main .left-col div.box.video a {
  display: block;
  height: 124px;
  box-sizing: border-box;
  margin: 0 -16px -16px;
  text-decoration: none;
  color: #000;
  padding: 23px 16px;
  font-size: 14px;
  position: relative;
  transition: color 0.2s ease;
  font-weight: 400;
}

main .left-col div.box.video a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  display: block;
  background: #875521;
}

main .left-col div.box.video a .read-more {
  width: 100%;
  height: 30px;
}

main .left-col div.box.video a .read-more:hover {
  color: white;
  transition: color 0.2s ease;
}

main .left-col div.box.video a .read-more:hover .arrow:after {
  transition: background 0.2s ease;
  background: url(../images/play-arrow-white.png) no-repeat;
  position: relative;
  top: 2px;
  left: -1px;
  height: 25px;
}

main .left-col div.box.video a .read-more>span {
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  right: 19px;
  bottom: 20px;
  font-weight: 600;
}

main .left-col div.box.video a .read-more>span:after {
  content: '';
  width: 16px;
  height: 22px;
  display: inline-block;
  background: url(../images/play-arrow.png) no-repeat;
  vertical-align: middle;
  margin-left: 20px;
  background-size: 15px;
}

main .left-col div.box.link {
  padding: 0;
  display: none;
}

main .left-col div.box.link a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  padding: 16px 16px 23px;
  font-weight: 400;
  font-size: 14px;
}

main .left-col div.box.link a:hover:after {
  transition: background 0.2s ease;
  background: url(../images/play-arrow-white.png) no-repeat;
}

main .left-col div.box.link a span:not(.title) {
  display: inline-block;
  width: 252px;
  vertical-align: middle;
  margin-right: 40px;
}

main .left-col div.box.link a span.title {
  margin-bottom: 16px;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}

main .left-col div.box.link a:after {
  content: '';
  width: 16px;
  height: 24px;
  display: inline-block;
  background: url(../images/play-arrow.png);
  vertical-align: middle;
}

main .right-col {
  float: right;
  width: 354px;
  height: 562px;
  position: relative;
  margin-right: 42px;
}

main .right-col .bottom {
  position: absolute;
  right: 0;
  bottom: 18px;
}

main .right-col button.box {
  background: #fff;
  border: 6px solid #000;
  position: relative;
  text-align: center;
  height: 96px;
  width: 100%;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-bottom: 14px;
}

main .right-col button.box:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

main .right-col button.box:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  display: block;
  background: #5a7882;
}

main .right-col button.box:after {
  content: '';
  width: 16px;
  height: 24px;
  display: inline-block;
  background: url('../images/play-arrow.png');
  margin-left: 20px;
  outline: none;
}

main .right-col div.box {
  background: #ffc50a;
  border: 6px solid #000;
  padding: 16px;
  position: relative;
  margin-bottom: 6px;
}

main .right-col div.box:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  display: block;
  background: #875521;
}

main .right-col div.box h2 {
  margin: 0 0 18px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
}

main .right-col div.box label {
  display: inline-block;
  width: 123px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

main .right-col div.box .select-wrapper {
  position: relative;
  display: inline-block;
}

main .right-col div.box .select-wrapper:not(:last-of-type) {
  margin-bottom: 15px;
}

main .right-col div.box .select-wrapper:last-of-type {
  margin-bottom: 5px;
}

main .right-col div.box .select-wrapper:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  content: '';
  display: block;
  width: 8px;
  height: 14px;
  background: url('../images/arrow.png');
  background-size: cover;
  position: absolute;
  top: 11px;
  right: 17px;
  pointer-events: none;
}

main .right-col div.box .monitor-selector {
  display: none;
}

main .right-col div.box .checkbox-fullscreen {
  display: flex;
  width: 100%;
  margin: 8px 0 5px 0;
}

main .right-col div.box .checkbox-fullscreen:hover {
  cursor: pointer;
}

main .right-col div.box .checkbox-fullscreen #checkbox-border {
  border: black solid 4px;
  width: 29px;
  height: 29px;
  background-color: white;
}

main .right-col div.box .checkbox-fullscreen #checkbox-border .custom-checkbox.checked {
  background: url('../images/checkbox-on.png') no-repeat;
  background-size: cover;
  width: 80%;
  height: 80%;
  position: relative;
  top: 2px;
  left: 2px;
}

main .right-col div.box .checkbox-fullscreen label {
  width: 70%;
  margin: 0 78px 0 0;
  width: 202px;
  padding: 4px 0 0 0;
}

main .right-col div.box select {
  display: inline-block;
  border: 4px solid #000;
  height: 33px;
  width: 182px;
  line-height: 26px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  padding-left: 12px;
  position: relative;
  border-radius: 0px;
  -webkit-appearance: none;
}

main .right-col div.box select option {
  font-weight: 600;
}

main .right-col div.box.alert {
  padding: 0;
}

main .right-col div.box.alert a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  padding: 12px 16px 23px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

main .right-col div.box.alert a span {
  display: inline-block;
  width: 230px;
  vertical-align: middle;
  margin-left: 16px;
}

main .right-col div.box.alert a:before {
  content: '';
  display: inline-block;
  width: 42px;
  height: 37px;
  background: url('../images/alert-icon.png');
  vertical-align: middle;
}

main .right-col div.box.alert a:after {
  content: '';
  width: 16px;
  height: 24px;
  display: inline-block;
  background: url(../images/play-arrow.png);
  vertical-align: middle;
}

main .right-col div.box.twitch {
  padding: 0;
  background-color: #6441a5;
}

main .right-col div.box.twitch:after {
  background: #2b1580;
}

main .right-col div.box.twitch a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 12px 16px 23px;
  text-transform: uppercase;
  font-size: 13px;
}

main .right-col div.box.twitch a span {
  display: inline-block;
  width: 230px;
  vertical-align: middle;
  margin-left: 16px;
}

main .right-col div.box.twitch a strong {
  display: block;
  font-size: 18px;
}

main .right-col div.box.twitch a:before {
  content: '';
  display: inline-block;
  width: 42px;
  height: 37px;
  background: url('../images/twitch-icon.png');
  vertical-align: middle;
}

main .right-col div.box.twitch a:after {
  content: '';
  width: 16px;
  height: 24px;
  display: inline-block;
  background: url(../images/play-arrow.png);
  vertical-align: middle;
}

main .news {
  height: 344px;
  padding-top: 20px;
}

main .news .video {
  float: left;
  border: 4px solid #24819f;
}

main .news .video iframe {
  display: block;
}

main .news .item {
  float: left;
  border: 4px solid #24819f;
  width: 304px;
  height: 306px;
  margin-left: 22px;
}

main .news .item a {
  transition: 200ms;
  color: #000;
  text-decoration: none;
  background: #2e9cbf;
  display: block;
  width: 296px;
  height: 298px;
}

main .news .item a:hover {
  background: #fff;
}

main .news .item span {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

main .news .item span.date {
  font-size: 12px;
  margin-top: 5px;
}

main .news .item span.title {
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .news .item span.text {
  font-size: 13px;
  text-transform: none;
}

main .news .item span.more {
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  display: inline-block;
  position: relative;
  margin-top: 8px;
}

main .news .item span.more:after {
  content: '';
  display: block;
  width: 7px;
  height: 12px;
  background: url('../images/arrow.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: -17px;
  pointer-events: none;
}

main .news .item img {
  display: block;
  width: 297px;
  height: 168px;
}